<!DOCTYPE html>
<html>
  <head>
    <title>21 Savage Fan Site</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1>Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>
    </div>

    <div class="anime">
      <label for="search">Search for your favorite Anime</label>
      <input type="text" name="search" id="animeName" />
      <button id="btn">Search</button>
    </div>

    <div class="searchResult"></div>
    <h1>Your Bookmarks</h1>

    <div class="result">
      <% for(var i=0; i<result.length; i++) {%>
       
          <div>
            <h5 ><%= result[i].name %></h5>
            <img 
              src="<%= result[i].img %>"
              alt=""
            />
            <br>
            <button id="delete" data-name="<%= result[i].name %>" data-img="<%= result[i].img %>" >Delete</button>
          </div>
         
  
         <% } %>
    </div>
    <script src="main.js"></script>
  </body>
</html>
